.second-block__title p:nth-child(2), .second-block__title p:nth-child(1) {
  font-family: "Playfair Display";
  font-size: 37.9px;
  line-height: 35px;
  font-weight: 400;
  text-transform: uppercase;
}

.second-block {
  background-color: #cdcdcd;
  padding: 0 15px;
}

.second-block__title p:nth-child(1) {
  color: #101010;
  font-size: 34px;
}

.second-block__title p:nth-child(2) {
  color: #141414;
}